@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";
}



<script type="text/javascript">
    $(document).ready(function () {
        RenderForgotPassword();
    });
    $(window).resize(function () {
        RenderForgotPassword();
    });
</script>






<div class="boxContRight boxContRightTop">
    <div id="listenSlide1" class="slideRight">



            <div style=" float:left; width:1024px; " >

                    <div style=" float:left; width:680px; min-height:250px; padding:10px; background-color:#292929; border-radius:3px; border-radius:2px; text-align:left; ">
         
                        <div style=" float:left; margin:10px 0 0 20px;">
                             <h2>Your Account is activated, try to login, otherwise contact us.</h2>   
                        </div>
        
                    </div>


                    <div class="BoxCont300x250" style=" float:right;">
                        <div style=" float:left; width:300px; height:250px; margin:0 0 0 15px; background-color:#292929; border:10px solid #292929;">

                            <div id="SideAd1xcisfo83" class="AdCont300x250"></div>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    document.getElementById("SideAd1xcisfo83").innerHTML = "<iframe width=\"300\" scrolling=\"no\" height=\"250\" frameborder=\"0\" style=\"border:none;\" marginwidth=\"0\" src=\"http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9MzAweDI1MCxuPWlmcmFtZQ==?subid=default\"></iframe>";
                                });
                            </script>

                        </div>
                    </div>

            </div>



    </div>
</div>