@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";
}



<script type="text/javascript">
    $(document).ready(function () {
        RenderForgotPassword();
    });
    $(window).resize(function () {
        RenderForgotPassword();
    });
</script>






<div class="boxContRight boxContRightTop">
    <div id="listenSlide1" class="slideRight">




            <div style=" float:left; width:1024px; " >

                <div style=" float:left; width:680px; min-height:250px; background-color:#292929; border-radius:3px; border-radius:2px; text-align:left; padding:10px;">
            
                    <div style=" float:left; width:95%; margin:5px 0 0 20px;">            
                        @using (Html.BeginForm())
                        {
                            <div style=" float:left; width:100%; text-align:left;">
                                
                                <div style=" font-size:27px;">
                                    Forgot Password
                                </div>
                                
                                <div style=" margin-top:10px;">
                                    <span>User Name</span><br />
                                    <input type="text" id="user_name" name="user_name" style=" width:400px; height:22px;" />
                                    <br /><br />
                                    <span style=" color:#FCF088; font-weight:bold;">OR</span><br />
                                    <br />
                                    <span>Email</span><br />
                                    <input type="text" id="email" name="email" style=" width:400px; height:22px; margin-top:5px;" />
                                </div>
                            </div>
                
                
                            <div style=" float:left; width:100%; text-align:right;">
                                <input type="submit" value="Submit" style=" width:150px; height:30px; margin-top:5px;" />
                            </div>
                        }
                    </div>

                </div>


                <div class="BoxCont300x250" style=" float:right;">
                    <div style=" float:left; width:300px; height:250px; margin:0 0 0 15px; background-color:#292929; border:10px solid #292929;">

                        <div id="SideAd1d982372w" class="AdCont300x250"></div>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                document.getElementById("SideAd1d982372w").innerHTML = "<iframe width=\"300\" scrolling=\"no\" height=\"250\" frameborder=\"0\" style=\"border:none;\" marginwidth=\"0\" src=\"http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9MzAweDI1MCxuPWlmcmFtZQ==?subid=default\"></iframe>";
                            });
                        </script>

                    </div>
                </div>


            </div>




    </div>
</div>