@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";
}

<script type="text/javascript">
    $(document).ready(function () {
        RenderRegister();
    });
    $(window).resize(function () {
        RenderRegister();
    });
</script>





<div class="boxContRight boxContRightTop">
    <div id="listenSlide1" class="slideRight">



    
            <div style=" float:left; width:685px; min-height:250px; margin:0 0 0 0; padding:0px; text-align:left; ">
                    
                    <div style=" float:left; width:100%; height:75px; background-color:#292929; margin:0; line-height:70px; font-size:25px; ">
                        &nbsp;Wellcome, Hypster!
                    </div>


                    <div style=" float:left; width:220px; height:180px; line-height:25px; background-color:#292929; margin:14px 0 0 0px; text-align:center; cursor:pointer; font-size:21px; " onclick="window.location='/listen';">
                        <img class="Menu1_img" alt="Search Music" src="/imgs/listen/search_music.png" style=" margin-top:35px;" /><br />
                        Search Music
                    </div>

                    <div style=" float:left; width:220px; height:180px; line-height:25px; background-color:#292929; margin:14px 0 0 12px; text-align:center; cursor:pointer; font-size:21px; " onclick="window.location='/create/player';">
                        <img class="Menu3_img" alt="Create Player" src="/imgs/listen/playlists.png" style=" margin-top:35px;" /><br />
                        Create Player
                    </div>

                    <div style=" float:left; width:220px; height:180px; line-height:25px; background-color:#292929; margin:14px 0 0 12px; text-align:center; cursor:pointer; font-size:21px; " onclick="window.location='/account/info';">
                        <img class="Menu2_img" alt="Listen Radio" src="/imgs/listen/radio.png" style=" margin-top:35px;" /><br />
                        My Account
                    </div>

            </div>

            



            <div style=" float:left; width:300px; height:250px; margin:0 0 0 15px; background-color:#292929; border:10px solid #292929;">
                <div id="SideAd2s29311sdvv"></div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        document.getElementById("SideAd2s29311sdvv").innerHTML = "<iframe allowTransparency=\"true\" width=\"300\" scrolling=\"no\" height=\"250\" frameborder=\"0\" style=\"border:none;\" marginwidth=\"0\" src=\"http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9MzAweDI1MCxuPWlmcmFtZQ==?subid=default\"></iframe>";
                    });
                </script>
            </div>




    </div>
</div>






<div class="boxContLeft">
    <div id="listenSlide2" class="slideLeft" style=" min-height:96px;">



        <div class="connectHead">
                    
            <div class="ffHeader">
                
            </div>
                    
            <div style=" float:right; width:726px; height:90px; background-color:#59666c; border:3px solid #59666c; border-radius:2px;">
                <div id="TopAdd1_r93847"></div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        document.getElementById("TopAdd1_r93847").innerHTML = "<iframe width=\"728\" scrolling=\"no\" height=\"90\" frameborder=\"0\" style=\"border:none;\" marginwidth=\"0\" src=\"http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9NzI4eDkwLG49aWZyYW1l?subid=default\"></iframe>";
                    });
                </script>
            </div>

        </div>


    </div>
</div>




    <!-- Google Code for Hypster_Newuser_Signup Conversion Page -->
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 992586596;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "333333";
    var google_conversion_label = "FpVbCNyArgQQ5Nam2QM";
    var google_conversion_value = 0.50;
    /* ]]> */
    </script>
    <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/992586596/?value=0.50&amp;label=FpVbCNyArgQQ5Nam2QM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>