<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <connectionStrings>
	  <!--add name="Hypster_Entities" connectionString="metadata=res://*/hypster_tv_MODEL.csdl|res://*/hypster_tv_MODEL.ssdl|res://*/hypster_tv_MODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.20.21.24;initial catalog=HypsterNew;User Id=HypUser;Password=alameDa#503M.s.P.z30;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
	  <add name="Hypster_Entities" connectionString="metadata=res://*/hypster_tv_MODEL.csdl|res://*/hypster_tv_MODEL.ssdl|res://*/hypster_tv_MODEL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=HypsterNew;Integrated Security=SSPI;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


    <!-- System.Configuration.ConfigurationManager.AppSettings[""] -->
    <add key="isPRODUCTION" value="TRUE" />

    <add key="videoHostName" value="tv.hypster.com" /> <!-- tv.hypster.com-->
    <add key="hypsterHostName" value="hypster.com" /> <!-- hypster.com-->
    <add key="newsHostName" value="news.hypster.com" /> <!-- news.hypster.com -->

	<!-- SERVER -->
	<add key="server_ID" value=".33" />
    
	  
	  
    <!-- MAX 9 -->
    <add key="numberOfPosts_HomePage" value="5" />
	<add key="numberOfVideos_HomePage" value="5" />
	  

	<add key="userPics_StoragePath" value="D:\WEBS\hypster_new.com\userpics" />

	<add key="newImageLogicID" value="1064356" />



	  <add key="Radio_User_Dance" value="4835259" />
	  <add key="Radio_Plst_Dance" value="6463700" />

	  <add key="Radio_User_Jazz" value="4829822" />
	  <add key="Radio_Plst_Jazz" value="6456498" />

	  <add key="Radio_User_Bluegrass" value="4829511" />
	  <add key="Radio_Plst_Bluegrass" value="6456105" />

	  <add key="Radio_User_Classical" value="4829410" />
	  <add key="Radio_Plst_Classical" value="6455956" />

	  <add key="Radio_User_Reggae" value="4829299" />
	  <add key="Radio_Plst_Reggae" value="6455744" />

	  <add key="Radio_User_Rap" value="4824383" />
	  <add key="Radio_Plst_Rap" value="6450129" />

	  <add key="Radio_User_Rock" value="4824282" />
	  <add key="Radio_Plst_Rock" value="6450013" />

	  <add key="Radio_User_Soundtrack" value="4820670" />
	  <add key="Radio_Plst_Soundtrack" value="6445679" />

	  <add key="Radio_User_Blues" value="4810902" />
	  <add key="Radio_Plst_Blues" value="6433698" />

	  <add key="Radio_User_Pop" value="4807126" />
	  <add key="Radio_Plst_Pop" value="6429152" />

	  <add key="Radio_User_Country" value="4806994" />
	  <add key="Radio_Plst_Country" value="6428969" />



	  <add key="Radio_User_Opera" value="4835432" />
	  <add key="Radio_Plst_Opera" value="6463941" />

	  <add key="Radio_User_HipHop" value="4835326" />
	  <add key="Radio_Plst_HipHop" value="6463800" />

	  <add key="Radio_User_Latin" value="4835392" />
	  <add key="Radio_Plst_Latin" value="6463886" />

	  <add key="Radio_User_Electronic" value="4835492" />
	  <add key="Radio_Plst_Electronic" value="6464026" />

	  <add key="Radio_User_RandB" value="4839724" />
	  <add key="Radio_Plst_RandB" value="6469459" />

	  <add key="Radio_User_NewAge" value="4839758" />
	  <add key="Radio_Plst_NewAge" value="6469505" />

	  <add key="Radio_User_Folk" value="4839785" />
	  <add key="Radio_Plst_Folk" value="6469541" />

	  <add key="Radio_User_JPop" value="4839828" />
	  <add key="Radio_Plst_JPop" value="6469604" />

	  <add key="Radio_User_Soul" value="4839865" />
	  <add key="Radio_Plst_Soul" value="6469656" />

	  <add key="Radio_User_Instrumental" value="4839970" />
	  <add key="Radio_Plst_Instrumental" value="6469797" />

	  <add key="Radio_User_AdultContemp" value="4844387" />
	  <add key="Radio_Plst_AdultContemp" value="6475635" />

	  <add key="Radio_User_Alternative" value="4844435" />
	  <add key="Radio_Plst_Alternative" value="6475691" />



	  <add key="Radio_User_EasyListening" value="4844505" />
	  <add key="Radio_Plst_EasyListening" value="6475792" />

	  <add key="Radio_User_Comedy" value="4844608" />
	  <add key="Radio_Plst_Comedy" value="6475937" />
	  
	  

	  <add key="ReCaptchaPrivateKey" value="6LeaEN4SAAAAAGDjPlWtABBy4Ipo-8A-jfeb9Vuo" />
	  <add key="ReCaptchaPublicKey" value="6LeaEN4SAAAAAPMCg2HsJUrx78k7ZYHnv9y4sBS0" />
	  
	  
    
  </appSettings>
  
  
  
  <system.web>


    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>

	  <!--customErrors mode="Off" /-->
	  <!--customErrors mode="RemoteOnly" defaultRedirect="~/error/">
	  </customErrors-->
	  <customErrors mode="On" defaultRedirect="~/home">
	  </customErrors>
	  

	  <!--customErrors mode="On" defaultRedirect="~/error/">
		  <error statusCode="404" redirect="~/error/NotFound/" />
	  </customErrors-->

	  
	  
    
    <machineKey validationKey="181DB6D714296FBDF513CE0729439AD2688D72E6FB35BDCE6BCA29931E122859CEA99AE922BCEB4396D3A2AB6888324955EF18F1CADD43741B4EE0CDBF0F37C3" decryptionKey="4629EFB3A15607AC6CDC2CB08B312E1B592DEF040E556C2880235243BCCC428A" validation="SHA1" decryption="AES" />

	  
	  
    <!-- ATTENTION NEED TO MODIFY ON PRODUCTION (DOMAIN NAME) -->
    <authentication mode="Forms">
      <!-- PRODUCTION -->
      <forms name="auth" loginUrl="~/account/signin" protection="All" timeout="3000" path="/" domain=".hypster.com" enableCrossAppRedirects="true" />
      <!-- DUBUGING -->
      <!--forms loginUrl="~/account/signin" timeout="1440" /-->
    </authentication>
    
    
    
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />

        <add namespace="Google.GData" />
        <add namespace="Google.GData.Client" />
        <add namespace="Google.GData.Extensions" />
        <add namespace="Google.GData.YouTube" />
        <add namespace="Google.YouTube" />

      </namespaces>
    </pages>
    
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>


	  
	  
	<httpRuntime maxRequestLength="51048576" />
    
	  
  </system.web>
  
	
	
  
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  
</configuration>