@model List<hypster_tv_DAL.Song>
@{
    Layout = null;
}



<script type="text/javascript">
    $(document).ready(function () {
        if ($(window).width() > 1024) {
            var margin_left = $(window).width() - 1024 - 30;
            var cont_width = 1024 + 30 + (margin_left / 2) - 15;
            //===================================================================
            $("#PopularMusicSlide2_header").css("width", (cont_width - 750 - 20) + "px");
            //===================================================================
        }
    });

    $(window).resize(function () {
        if ($(window).width() > 1024) {
            var margin_left = $(window).width() - 1024 - 30;
            var cont_width = 1024 + 30 + (margin_left / 2) - 15;
            //===================================================================
            $("#PopularMusicSlide2_header").css("width", (cont_width - 750 - 20) + "px");
            //===================================================================
        }
    });
</script>




<div id="listenSlideContHolder" style=" float:right; width:100%; min-height:475px; ">
<div class="PopularMusicOnHypster">




        <div class="PopularHeaderCont">
    
            
            <div id="PopularMusicSlide2_header">
                
                <div class="FeaturedHeaderBack">
                    <div>Popular Music</div>
                </div>

                <div class="FeaturedSubHeader">
                </div>

            </div>




            <div class="PopularAdCont">
                <div id="TopAdd1s28372"></div>
                <script type="text/javascript">
                    $(document).ready(function () {
                        document.getElementById("TopAdd1s28372").innerHTML = "<iframe width=\"728\" scrolling=\"no\" height=\"90\" frameborder=\"0\" style=\"border:none;\" marginwidth=\"0\" src=\"http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9NzI4eDkwLG49aWZyYW1l?subid=default\"></iframe>";
                    });
                </script>
            </div>

        </div>




        <div style="float:right; width:1024px;">
        @{
            int back_id = 1;
        }
        <div class="PopularMusicCont">
            @for (int i = 1; i <= 8; i++)
            {
                if (i < Model.Count)
                {
                    <div @if (back_id == 1){ <text>class="SongItm"</text>}else{<text>class="SongItmB"</text>} >
                        <a class="SongTitle" href="/song/@Model[i - 1].id" >@(i). @Model[i - 1].Title</a>
                                
                        <a class="SongLstn" title="play" onclick="OpenPlayer('song_guid=@Model[i - 1].YoutubeId&song_title=@HttpUtility.UrlEncode(Model[i - 1].Title)');"></a>
                    </div>
                }

                back_id = back_id * -1;
            }
        </div>



        <div class="PopularMusicCont" style=" margin-left:23px; ">
            @for (int i = 8; i <= 15; i++)
            {
                if ((i + 8) < Model.Count)
                {
                    <div @if (back_id == 1){ <text>class="SongItm"</text>}else{<text>class="SongItmB"</text>} >
                        <a class="SongTitle" href="/song/@Model[i - 1].id">@(i + 8). @Model[i - 1].Title</a>
                                
                        <a class="SongLstn" title="play" onclick="OpenPlayer('song_guid=@Model[i - 1].YoutubeId&song_title=@HttpUtility.UrlEncode(Model[i - 1].Title)');"></a>
                    </div>
                }

                back_id = back_id * -1;
            }
        </div>
        </div>



</div>
</div>