@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";
}


<script type="text/javascript">
    $(document).ready(function () {
        RenderAboutUs();
    });
    $(window).resize(function () {
        RenderAboutUs();
    });
</script>




<div class="boxContRight boxContRightTop">
    <div id="listenSlide1" class="slideRight">


            <div class="AboutUsCont">
    
                <div style=" float:left; width:98%; margin:1%;">
                <h2>About Hypster.com</h2>

                Hypster.com is one of the world's largest music community. We're here to help our 4 million music fans discover, create, organize, enjoy and share their social music playlists.<br />
                <br />
                As a member of the Hypster.com community, you can create your own personal music experience by building playlists for every mood, genre, activity and occasion. You can recommend music to others. You can follow the musical journey your friends are taking. You can share your playlists on your social network profile or blogs.<br />
                <br />
                Our mission is to help you create the greatest collection of music playlists in the world; to help you share your musical loves with your world. We want to be the place where you discover cool new music and make the whole thing fun and easy to do.<br />
                <br />
                We know you love music. So do we!!!<br />
                <br />

                Here are the things you can do to enjoy music on Hypster.com:<br />
                <br />
                Find and listen to any song you want.<br />
                Build a playlists of your favorite music.<br />
                Listen to your playlists on any computer. Anywhere.<br />
                Share and build a playlists with friends.<br />
                Browse our charts and find cool new music every day.<br />
                Watch your friends' activity on Hypster.com, and keep up to date with what they're listening to.<br />
                Add a playlists to your favorite Web site or blog using the Hypster.com widgets.<br />
                <br />
                Instant, free music. No download required.<br />
                <br />
                Music. It's social.<br />
                <br />
                <br />
                We know you connect with friends everywhere. Here are things you can do with your friends at Hypster.com:<br />
                Put your favorite music playlist on your Web site, blog or social profiles.<br />
                Share your latest music with your friends.<br />
                Collaborate on Hypster with your friends.<br />
                Stay up to date with what your friends are listening to.<br />
                Discover new music that other Hypster members are listening to.<br />
                <br />
                Become a fan or follow us!!<br />
                <br />
                <br />
                Fan us on Facebook.com: http://facebook.com/ <br />
                Follow us on Twitter.com: http://twitter.com/ <br />
                <br />
                Questions? Visit our FAQ section. It covers most of the usual helpful questions and tips. <br />
                Still need help? You can contact us by completing our "Contact Us" form <a href="http://www.hypster.com/hypster/Contact_Us" style=" text-decoration:underline;">here</a> <br />
                <br />
                </div>

            </div>



    </div>  
</div>