@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
}



<script type="text/javascript">
    $(document).ready(function () {
        RenderContactUs();
    });
    $(window).resize(function () {
        RenderContactUs();
    });
</script>





<div class="boxContRight boxContRightTop">
    <div id="listenSlide1" class="slideRight">


            <div class="ContactsThanksCont">
                <h2>Thank you for submitting your request</h2>
            </div>

    </div>
</div>
