@{
    ViewBag.Title = "Hypster - how to create playlist for tumblr";
    ViewBag.Desc = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        RenderHowToUse();
    });
    $(window).resize(function () {
        RenderHowToUse();
    });
</script>







<div class="boxContRight boxContRightTop">
    <div id="listenSlide0" class="slideRight" style=" min-height:630px;">
            
            <div style=" float:left;">

                <div style=" width:100%; font-size:26px; font-weight:bold; color:#FCF088; ">
                    Step 1 - Start searching songs
                </div>
                <img alt="" src="/imgs/how_to_use/step_1.jpg" style=" margin:10px 0 0 0; background-color:#1c1c1c; border:3px solid #1c1c1c; border-radius:3px;" />

                
                <iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9MTYweDYwMCxuPWlmcmFtZQ==?subid=default" width="160" height="600" scrolling="no" marginwidth="0" style=" background-color:#1c1c1c; border:3px solid #1c1c1c; border-radius:3px;" frameborder="0"></iframe>

            </div>

     </div>
</div>







<div class="boxContLeft">
    <div id="listenSlide1" class="slideLeft" style=" min-height:630px;">
            
            <div style=" float:right; width:1010px;">

                <div style=" width:100%; font-size:26px; font-weight:bold; color:#FCF088;">
                    Step 2 - Add Song To Your Playlist
                </div>
                <img alt="" src="/imgs/how_to_use/step_2.jpg" style=" margin:10px 0 0 0; background-color:#667278; border:3px solid #667278; border-radius:3px;" />

                <iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9NzI4eDkwLG49aWZyYW1l?subid=default" width="728" height="90" scrolling="no" marginwidth="0" style=" background-color:#667278; border:3px solid #667278; border-radius:3px;" frameborder="0"></iframe>

            </div>

    </div>
</div>






<div class="boxContRight">
    <div id="listenSlide2" class="slideRight" style=" min-height:630px;">
        
            <div style=" float:left;">

                <div style=" width:100%; font-size:26px; font-weight:bold; color:#FCF088;">
                    Step 3 - Add Song To Your Playlist. Choose your playlist and save it. You can choose<br />
                    option to search more or go to your playlists.
                </div>
                <img alt="" src="/imgs/how_to_use/step_3.jpg" style=" margin:10px 0 0 0; background-color:#1c1c1c; border:3px solid #1c1c1c; border-radius:3px;" />

                <iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9MTYweDYwMCxuPWlmcmFtZQ==?subid=default" width="160" height="600" scrolling="no" marginwidth="0" style=" background-color:#1c1c1c; border:3px solid #1c1c1c; border-radius:3px;" frameborder="0"></iframe>


            </div>

    </div>
</div>







<div class="boxContLeft">
    <div id="listenSlide3" class="slideLeft" style=" min-height:630px;">

            <div style=" float:right; width:1010px;">
                <div style=" width:100%; font-size:26px; font-weight:bold; color:#FCF088;">
                    Step 4 - Here you can manage your songs or go to create player section and create player.
                </div>

                <img alt="" src="/imgs/how_to_use/step_4.jpg" style=" margin:10px 0 0 0; background-color:#667278; border:3px solid #667278; border-radius:3px;" />

                <iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9NzI4eDkwLG49aWZyYW1l?subid=default" width="728" height="90" scrolling="no" marginwidth="0" style=" background-color:#667278; border:3px solid #667278; border-radius:3px;" frameborder="0"></iframe>

            </div>

    </div>
</div>






<div class="boxContRight">
    <div id="listenSlide4" class="slideRight" style=" min-height:630px;">
        
            <div style=" float:left;">

                <div style=" width:100%; font-size:26px; font-weight:bold; color:#FCF088;">
                    Step 5 - Go to create player section and choose you player type.
                </div>
                <img alt="" src="/imgs/how_to_use/step_5.jpg" style=" margin:10px 0 0 0; background-color:#1c1c1c; border:3px solid #1c1c1c; border-radius:3px;" />

                <iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9MTYweDYwMCxuPWlmcmFtZQ==?subid=default" width="160" height="600" scrolling="no" marginwidth="0" style=" background-color:#1c1c1c; border:3px solid #1c1c1c; border-radius:3px;" frameborder="0"></iframe>


            </div>

    </div>
</div>





<div class="boxContLeft">
    <div id="listenSlide5" class="slideLeft" style=" min-height:630px;">

            <div style=" float:right; width:1010px;">
                <div style=" width:100%; font-size:26px; font-weight:bold; color:#FCF088;">
                    Step 6 - Set player preferences and click "Get Code".
                </div>

                <img alt="" src="/imgs/how_to_use/step_6.jpg" style=" margin:10px 0 0 0; background-color:#667278; border:3px solid #667278; border-radius:3px;" />

                <iframe src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9NzI4eDkwLG49aWZyYW1l?subid=default" width="728" height="90" scrolling="no" marginwidth="0" style=" background-color:#667278; border:3px solid #667278; border-radius:3px;" frameborder="0"></iframe>

            </div>

    </div>
</div>

    
   


