@{
    ViewBag.Title = "Hypster - hypster on mobile ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        RenderHypsterOnMobile();
    });
    $(window).resize(function () {
        RenderHypsterOnMobile();
    });
</script>







<div class="boxContRight boxContRightTop">
    <div id="listenSlide0" class="slideRight" style=" min-height:630px;">
            
            <div style=" float:left;">

                <div style=" width:100%; font-size:26px; line-height:26px; font-weight:bold; color:#FCF088; ">
                    Now hypster is available on mobile devices
                </div>
                <img alt="" src="/imgs/hypster_on_mob/hypster_on_mobile_1.jpg" style=" float:left; margin:10px 0 0 160px; border-radius:3px;" />

                
                <div style=" float:left; width:304px; margin-left:60px; ">                
                    
                    <div style=" float:left; width:300px; height:250px; margin-top:30px; background-color:#1c1c1c; border:3px solid #1c1c1c; border-radius:4px;">
                        <iframe allowTransparency="true" width="300" scrolling="no" height="250" frameborder="0" style="border:none;" marginwidth="0" src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zMTQ0LHM9MzAweDI1MCxuPWlmcmFtZSxiPTA=?subid=default"></iframe>
                    </div>
                    
                    <div style=" float:left; width:300px; height:250px; margin-top:45px; background-color:#1c1c1c; border:3px solid #1c1c1c; border-radius:4px; ">
                        <iframe allowTransparency="true" width="300" scrolling="no" height="250" frameborder="0" style="border:none;" marginwidth="0" src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zMTQ0LHM9MzAweDI1MCxuPWlmcmFtZSxiPTA=?subid=default"></iframe>
                    </div>
                </div>

            </div>

     </div>
</div>





<div class="boxContLeft">
    <div id="listenSlide1" class="slideLeft" style=" min-height:630px;">
            

            <div style=" float:right; width:1024px;">

                <div style=" width:100%; font-size:26px; line-height:26px; font-weight:bold; color:#FCF088; ">
                    You can create, manage, listen, playlists, players, radio and generate code to embed player on tumblr
                </div>
                <img alt="" src="/imgs/hypster_on_mob/hypster_on_mobile_2.jpg" style=" float:left; margin:10px 0 0 160px; border-radius:3px;" />

                
                <div style=" float:left; width:304px; margin-left:60px; ">                
                    
                    <div style=" float:left; width:300px; height:250px; margin-top:30px; background-color:#667278; border:3px solid #667278; border-radius:4px;">
                        <iframe allowTransparency="true" width="300" scrolling="no" height="250" frameborder="0" style="border:none;" marginwidth="0" src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zMTQ0LHM9MzAweDI1MCxuPWlmcmFtZSxiPTA=?subid=default"></iframe>
                    </div>
                    
                    <div style=" float:left; width:300px; height:250px; margin-top:45px; background-color:#667278; border:3px solid #667278; border-radius:4px; ">
                        <iframe allowTransparency="true" width="300" scrolling="no" height="250" frameborder="0" style="border:none;" marginwidth="0" src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zMTQ0LHM9MzAweDI1MCxuPWlmcmFtZSxiPTA=?subid=default"></iframe>
                    </div>
                </div>

            </div>


    </div>
</div>






<div class="boxContRight">
    <div id="listenSlide2" class="slideRight" style=" min-height:630px;">
            

            <div style=" float:left;">

                <div style=" width:100%; font-size:26px; line-height:26px; font-weight:bold; color:#FCF088; ">
                    Listen to your playlists on the go
                </div>
                <img alt="" src="/imgs/hypster_on_mob/hypster_on_mobile_3.jpg" style=" float:left; margin:10px 0 0 160px; border-radius:3px;" />

                
                <div style=" float:left; width:304px; margin-left:60px; ">                
                    
                    <div style=" float:left; width:300px; height:250px; margin-top:30px; background-color:#1c1c1c; border:3px solid #1c1c1c; border-radius:4px;">
                        <iframe allowTransparency="true" width="300" scrolling="no" height="250" frameborder="0" style="border:none;" marginwidth="0" src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zMTQ0LHM9MzAweDI1MCxuPWlmcmFtZSxiPTA=?subid=default"></iframe>
                    </div>
                    
                    <div style=" float:left; width:300px; height:250px; margin-top:45px; background-color:#1c1c1c; border:3px solid #1c1c1c; border-radius:4px; ">
                        <iframe allowTransparency="true" width="300" scrolling="no" height="250" frameborder="0" style="border:none;" marginwidth="0" src="http://feed-rt.baronsoffers.com/offer/feed/q/aT0zMTQ0LHM9MzAweDI1MCxuPWlmcmFtZSxiPTA=?subid=default"></iframe>
                    </div>
                </div>

            </div>

    </div>
</div>





