@{
    ViewBag.Title = "New player for Tumblr";
    ViewBag.Desc = "player for Tumblr allows to choose from lot of new features and skins, save state, support different platforms, splitted controls and more";
}



<script type="text/javascript">

    $(document).ready(function () {
        var margin_left = 0;
        var cont_width = 1024;

        if ($(window).width() > 1024) {
            margin_left = $(window).width() - 1024 - 44;
            cont_width = 1024 + 30 + (margin_left / 2) - 15;
        } else {
            margin_left = 0;
            cont_width = 1024;
        }

        $("#listenSlide1").css("float", "left");
        $("#listenSlide1").css("width", cont_width + "px");

        $("#listenSlide2").css("float", "right");
        $("#listenSlide2").css("width", cont_width + "px");

        $("#listenSlide3").css("float", "left");
        $("#listenSlide3").css("width", cont_width + "px");

    });

</script>








<div class="boxContLeft boxContRightTop">
    <div id="listenSlide1" class="slideLeft" style=" min-height:95px; ">
        
            <div class="NPFT_Head" >
                <div style=" float:left; width:100%; margin:5px 0 5px 0; font-size:33px; color:#39484f;">
                    &nbsp;New player for Tumblr or personal blog
                </div>

                <div class="BenContHolder">
                    <div class="BenItem">+ Hypster Player supports multiple platforms including smartphone, tablet, and PC.</div>
                    <div class="BenItem">+ Hypster Player abides by YouTube copyright Terms and Conditions. This creates more access to songs for users. <div style=" font-size:14px; margin:-7px 0 0 17px;">(Please Note: Content owners can restrict access to songs.)</div></div>
                    <div class="BenItem">+ Hypster offers a customizable player.</div>
                    <div class="BenItem">+ Hypster playlist can be adjusted without changing the code settings.</div>
                    <div class="BenItem">+ Hypster Player will remember the user's settings and will continue the song on the next visit.</div>
                    <div class="BenItem">+ Hypster Player settings will remain the same for multiple pages within a blog and will continue a song from the last page/vis</div>
                    <div class="BenItem">+ Splitted Controls: User will be able to place multiple Hypster Players on one or more pages.</div>
                </div>
            </div>

    </div>
</div>







<div class="boxContRight">
<div id="listenSlide2" class="slideRight" style=" min-height:595px; ">


    <div class="NPFT_PP_ContHolder">

            <div class="NewPlayerForTumblr"><h2>New Player For Tumblr</h2></div>
            <div class="GetCodeBtn" onclick="window.location='/hypster/New_Player_For_Tumblr_Code_1';"><h2>Get Code</h2></div>



            <div id="CPL_Tab1" style=" width:830px; padding:5px;">
        
                <div class="topHeader"><h1 style=" font-size:33px; margin:20px 0 0px 10px;">Tumblr Preview</h1></div>

                <div class="middleCont">
                    
                    <div style=" float:left; width:270px;">
                        
                        <div style=" float:left; margin:6px 0 12px 10px;">
                        <script id="HypPlayerScript" type="text/javascript" src="http://hypster.com/a/player6.js"  hypHostName="hypster.com" hypUserID="4398055" hypPlaylistID="5799501" hypPlayerControls="1" hypAutostart="1" hypPlayerSort="rand" hypMainBackColor="#E34C00" hypPrevButtonColor="#D62D2D" hypPlayPauseButtonColor="#E05E36" hypNextButtonColor="#C73E75" hypShuffleButtonColor="#E362B8" hypHypsterButtonColor="#2488BA" hypVisibility="visible"  hypSaveState="1"   ><!-- Hypster Player --></script>
                        </div>

                        <img alt="" src="/imgs/blog_exmpl/1.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/2.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/3.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/4.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/5.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/6.JPG" />
                        
                    </div>

                    

                    <div style=" float:left; margin:5px 0 0 5px; width:270px;">
                        <img alt="" src="/imgs/blog_exmpl/10.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/11.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/12.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/13.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/14.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/15.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/16.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/17.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/18.JPG" />
                    </div>


                    <div style=" float:left; margin:5px 0 0 5px; width:270px;">
                        <img alt="" src="/imgs/blog_exmpl/19.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/20.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/21.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/22.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/23.JPG" />

                        <img alt="" src="/imgs/blog_exmpl/24.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/25.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/26.JPG" />

                        <img alt="" src="/imgs/blog_exmpl/8.JPG" />
                        <img alt="" src="/imgs/blog_exmpl/7.JPG" />
                        <!--img alt="" src="/imgs/blog_exmpl/9.JPG" /-->
                    </div>
            

                </div>


            </div>




            <div class="AdCont">
                        <div class="AddUnit">
                            <div id="SideAdConnect_o2112ouw"></div>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    document.getElementById("SideAdConnect_o2112ouw").innerHTML = "<iframe src=\"http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9MTYweDYwMCxuPWlmcmFtZQ==?subid=default\" width=\"160\" height=\"600\" scrolling=\"no\" marginwidth=\"0\" style=\"border:none;\" frameborder=\"0\"></iframe>";
                                });
                            </script>
                        </div>


                        <div class="AddUnit">
                            <div id="SideAdConnect_d398273"></div>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    document.getElementById("SideAdConnect_d398273").innerHTML = "<iframe src=\"http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9MTYweDYwMCxuPWlmcmFtZQ==?subid=default\" width=\"160\" height=\"600\" scrolling=\"no\" marginwidth=\"0\" style=\"border:none;\" frameborder=\"0\"></iframe>";
                                });
                            </script>
                        </div>


                        <div class="AddUnit">
                            <div id="SideAdConnect_s2398s9"></div>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    document.getElementById("SideAdConnect_s2398s9").innerHTML = "<iframe src=\"http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9MTYweDYwMCxuPWlmcmFtZQ==?subid=default\" width=\"160\" height=\"600\" scrolling=\"no\" marginwidth=\"0\" style=\"border:none;\" frameborder=\"0\"></iframe>";
                                });
                            </script>
                        </div>
            </div>



    </div>
</div>
</div>










<div class="boxContLeft">
    <div id="listenSlide3" class="slideLeft" style=" min-height:95px; ">
        
            
            <div class="NPFT_BHead">
                    
                <div style=" float:left; width:726px; height:90px; background-color:#59666c; border:3px solid #59666c; border-radius:2px;">
                    <div id="TopAdd1"></div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            document.getElementById("TopAdd1").innerHTML = "<iframe width=\"728\" scrolling=\"no\" height=\"90\" frameborder=\"0\" style=\"border:none;\" marginwidth=\"0\" src=\"http://feed-rt.baronsoffers.com/offer/feed/q/aT0zNTQ4LHM9NzI4eDkwLG49aWZyYW1l?subid=default\"></iframe>";
                        });
                    </script>
                </div>

                <div class="NPFT_GoOnTop" onclick="$(document).scrollTop(0);">
                    Go On Top
                </div>

            </div>

    </div>
</div>