@{
    ViewBag.Title = "Hypster - free music online - player for tumblr";
    ViewBag.Desc = "";
    Layout = null;
}



<!-- *************************************CONTENT************************************* -->
<div style=" float:left; width:1000px; margin:15px 0 15px 15px; " >


    <div style=" float:left; width:100%; margin-top:13px;">
    
        <div onclick="LoadPlayerCont('/player/getPlayer/BarPlayer');" style=" float:left; margin:0 0 0 0px; border:7px solid #232323; background-color:#232323; border-radius:2px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/bar_widget.png"  />
            <div style=" font-size:17px; color:#FCF088;">Bar player</div>
        </div>


        <div onclick="LoadPlayerCont('/player/getPlayer/ClassicPlayer');" style=" float:left; margin:0 0 0 20px; border:7px solid #232323; background-color:#232323; border-radius:2px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/widget_1.png" />
            <div style=" font-size:17px; color:#FCF088;">Classic player</div>
        </div>


        <div onclick="LoadPlayerCont('/player/getPlayer/RadioPlayer');" style=" float:left; margin:0 0 0 20px; border:7px solid #232323; background-color:#232323; border-radius:2px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/widget_radio.png"  />
            <div style=" font-size:17px; color:#FCF088;">Radio player</div>
        </div>

        <!--div onclick="window.location='/hypster/New_Player_For_Tumblr_Code';" style=" float:left; margin:0 0 0 20px; border:7px solid #232323; background-color:#232323; border-radius:2px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/new_widget.png"  />
            <div style=" font-size:17px; color:#FCF088;">New player</div>
        </div-->

        <!--div onclick="window.location='/hypster/New_Player_For_Tumblr_Code_1';" style=" float:left; margin:10px 0 0 0px; border:7px solid #232323; background-color:#232323; border-radius:2px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/new_widget_1.png"  />
            <div style=" font-size:17px; color:#FCF088;">New player 1</div>
        </div-->

        <!--div onclick="window.location='/hypster/New_Player_For_Tumblr_Code_2';" style=" float:left; margin:10px 0 0 20px; border:7px solid #232323; background-color:#232323; border-radius:2px; cursor:pointer;">
            <img alt="" src="/imgs/get_player/new_widget_2.png"  />
            <div style=" font-size:17px; color:#FCF088;">New player 2</div>
        </div-->


    </div>


</div>
<!-- *************************************CONTENT************************************* -->




